# Global

-       @chlwys @jiracheron

# By Language

_.js @jiracheron
_.sol @chlwys
_.ts @jiracheron
_.tsx @jiracheron

# By Domain

packages/client/ @jiracheron @chlwys
packages/client/src/components/modals/chat/ @Xenofluxx
packages/client/src/kamiden/ @hubur

packages/contracts/ @chlwys @jiracheron
