# Global
*       @chlwys @jiracheron

# By Language
*.sol   @chlwys @jiracheron

# By Domain
pnpm-lock.yaml @Xenofluxx @hubur @kanyaveral @Cooops

packages/client/ @Xenofluxx @kanyaveral @hubur
packages/contracts/ @chlwys @jiracheron 

.github/workflows/ @hubur @Cooops
.github/scripts/ @hubur @Cooops