/*fullscreen*/
:root {
  font-size: min(2vw, 2vh);
}
/*1:2 view*/
@media (orientation: portrait) {
  :root {
    font-size: min(1.6vw, 1.6vh);
  }
}
/* 11/16, 1 column*/
@media (max-aspect-ratio: 11/16) {
  :root {
    font-size: min(2vw, 2.2vh);
  }
}

/* 2:1 view*/
@media (orientation: landscape), (max-aspect-ratio: 2/1) {
  :root {
    font-size: max(1vw, 1vh);
  }
}
